<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1015313884598-srim713i47i873o02atfk3phl25ih0af.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1015313884598-srim713i47i873o02atfk3phl25ih0af</string>
	<key>API_KEY</key>
	<string>AIzaSyCJxdTBpgbYYF3tTKwjtDHfyDmJY1vPZUU</string>
	<key>GCM_SENDER_ID</key>
	<string>1015313884598</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MYCompany.pracitice1</string>
	<key>PROJECT_ID</key>
	<string>practice1-1bb01</string>
	<key>STORAGE_BUCKET</key>
	<string>practice1-1bb01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1015313884598:ios:d97f5fa2e4afb97ad3cd17</string>
</dict>
</plist>